# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Next.js build output
.next/
out/

# Python Virtual Environment
venv/
.venv/
env/
__pycache__/
*.pyc

# Local env files
.env*.local
.env

# OS files
.DS_Store
Thumbs.db

# Temp directories
temp_clone/

# Local Netlify folder
.netlify
